<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh">
  <div class="mb-4">
    <h1>The decide app</h1>
  </div>

  <div [ngSwitch]="appValues.visiblePanel">

    <app-one *ngSwitchCase="'one'" [appValues]="appValues" (next)="handleNext($event)"
      (hasErrors)="handleErrors($event)"></app-one>

    <app-two *ngSwitchCase="'two'" [appValues]="appValues" (next)="handleNext($event)"
      (hasErrors)="handleErrors($event)"></app-two>

    <app-three *ngSwitchCase="'three'" [appValues]="appValues" (next)="handleNext($event)"
      (resetValues)="handleReset($event)"></app-three>

    <div *ngIf="errors.show" class="alert alert-danger" role="alert">
      {{ errors.message }}
    </div>


  </div>

</div>