<header>
  <app-header></app-header>
</header>

<div class="container">

  <div class="row">
    <app-cars></app-cars>
    <!-- <div app-cars></div> -->
    <!-- <div class="app-cars"></div> -->
  </div>

  <div *appCarousel="let item from items autoplay 'on' delay 1000; let ctrl = controller">
    <div>
      {{ item }}
    </div>
    <button (click)="ctrl.prev()">Previous</button>
    <button (click)="ctrl.next()">Next</button>
  </div>

  <!-- <div class="row" *appSimpleStr1="true">
    <div>
      Hello, structural directive
    </div>
  </div> -->

  <!-- <div class="row">
    <div appSimpleAttr3 [color]="'red'" [disabled]="true" [clickable]="true">Some Content</div>
  </div>

  <div class="row">
    <div appSimpleAttr3 [color]="'blue'" [disabled]="false" [clickable]="false">Some Content2</div>
  </div> -->

  <!-- <div class="row">
    <div appSimpleAttr2>Some Content</div>
  </div> -->

  <!-- <div class="row">
    <div simpleAttr>Some Content</div>
  </div> -->


  <!-- <ul *ngFor="let coffee of coffees" [ngSwitch]="coffee.available">
    <li *ngSwitchCase="'yes'">
      {{coffee.style}}
    </li>
    <li *ngSwitchCase="'no'" [ngStyle]="{color: 'red'}">
      {{coffee.style}} - not available
    </li>
  </ul> -->

  <!-- <div class="row">
    <div [ngSwitch]="show">
      <div *ngSwitchCase="true">Yes</div>
      <div *ngSwitchCase="false">No</div>
      <div *ngSwitchDefault></div>
    </div>
  </div> -->

  <!-- <hr>
  <div *ngFor="let item of list" class="row">
    {{item}}
  </div> -->


  <!-- <div class="row" [class]="'some-other-class'">
    some content !!
  </div>
  <hr />
  <div class="row" [ngClass]="{'some-class':true,'some-class2': true}">
    some content 2!!
  </div>
  <hr />
  <div class="row" [ngClass]="{'ternary-class': show ? true : false}">
    some content 3!!
  </div>
  <hr />
  <div class="row" [class.last-class]="true" [class.middle-class]="true" [class.first-class]="show ? true : false">
    some content 4!!
  </div>
  <hr />
  <div class="row" [ngClass]="classes">
    some content 5!!
  </div> -->


  <!-- <div class="row" [ngStyle]="{'color':'green'}">
    I am color green
  </div>
  <hr />
  <div class="row" [ngStyle]="{'color': show ? 'blue': 'red'}">
    I am color blue / red
  </div>
  <hr />
  <div class="row" [ngStyle]="{color: getColor()}">
    I am color yellow
  </div>
  <hr />
  <div class="row" [style.color]="'purple'">
    I am color purple
  </div>
  <hr />
  <div class="row" [ngStyle]="{'font-size.rem':14,'color':'red'}">
    I am BIG
  </div>
  <hr />
  <div class="row" [ngStyle]="styles">
    I am BIG
  </div> -->





  <!-- <hr /> -->

  <!-- <div class="row">
    <app-life *ngIf="show" [artist]="artist"></app-life>

    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="changeArtist()">
        Change
      </button>
    </div>

  </div> -->
  <!-- 
  <div class="row">
    <div *ngIf="show;then thenother else other">
      Hello i am a div.
    </div>

    <ng-template #thenother>
      <div>Then block</div>
    </ng-template>

    <ng-template #other>
      <div>Sorry, nothing here</div>
    </ng-template>

    <div [hidden]="show">
      SHOW THIS IS "SHOW" IS TRUE
    </div>
  </div> -->

</div>