<div class="col-xs-12">
  <h2>The cars:</h2>
  <!-- van parent naar child -->
  <app-car *ngFor="let carValue of carValues; let i=index" [carElements]="carValue" [attr.data-index]="i" #carComponent>
  </app-car>
  <hr />

  <!-- <div #anotherDiv>Hello this is another componement</div> -->
  <!-- van child naar parent -->
  <!-- <app-add (carSubmitted)="carWasSubmitted()">
    <div>
      <span>Hello i am a span</span>
    </div>
  </app-add> -->


</div>