<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">My App</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/one">One</a>
    <a class="p-2 text-dark" routerLink="/two">Two</a>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

