<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8">
    <h6>{{ user.name }}</h6>
  </div>

  <div class="col-6 col-md-4">
    <button
      type="button"
      class="close"
      (click)="remove()"
    >
      <span>&times;</span>
    </button>
  </div>
</div>
<hr/>
