<div class="row item">
  <div class="col-12 tag">
    <span class="col-12 tag">Name:</span> {{ carValues.name }}
  </div>
  <div class="col-12 tag">
    <span class="col-12 tag">Model:</span> {{ carValues.model }}
  </div>
  <div class="col-12 tag">
    <span class="col-12 tag">Color:</span> {{ getTheColor(carValues.color) }}
  </div>
</div>