<div class="col-md-12">
    <!-- <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{ user.name | lowercase }}</h5>
          <p class="card-text">{{ user.message | titlecase }}</p>
          <p class="card-text">{{ user.firstLogin | date | uppercase }}</p>
          <p class="card-text">{{ user.bignumber | number:'3.0-3' }}</p>
          <p class="card-text">{{ user.perc | currency:'EUR':'symbol':'4.2-2'}}</p>
          <p class="card-text">{{ user.json | json }}</p>
      </div>
    </div>

      <div *ngFor="let data of user.dad | keyvalue">
        <span>{{ data.key }}</span> :  <span>{{ data.value }}</span>
      </div>

    <hr />

      <div>
        Message: {{ greeting | async }}
      </div>

    <hr />

      <div>
        {{ customValue | mycustom:5:'my value' }}
      </div>

    <hr /> -->


<div class="col-md-12">
    <h3>List</h3>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="userToFilter">
    </div>

  <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let user of listOfUsers | filter:userToFilter;let i=index "
        >
        {{ user.name }}
      </li>
    </ul>
</div>
