<div class="container mt-5">
  <div class="row">
    <div class="col-7">

      <app-user></app-user>

      <hr/>

      <app-list
        *ngFor="let user of users;let i=index"
        [user]="user"
        [position]="i"
      ></app-list>


    </div>
  </div>
</div>
