<p>Hello !!</p>

<div>
  <strong>The post id is:</strong> {{ post.id }}
</div>

<div>
  <strong>The rating is:</strong> {{ post.rating }}
</div>

<hr />

<div>
  <a [routerLink]="['/games',related.id,related.rating]">Related games</a>
</div>