<div>
  <app-item></app-item>

  <!-- 
  <app-item *ngIf="show"></app-item>

  <button (click)="toggleDiv()">
    Toggle div
  </button> -->


  <!-- <button (click)="emitClick()">
    Emit something
  </button> -->

</div>