<h1>Carrousel</h1>
<!-- 
<carousel>
    <slide>
        <div class="text-center py-5 bg-dark text-white">
            <h2>First slide</h2>
            <div class="lead">
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </slide>
    <slide>
        <div class="text-center py-5 bg-dark text-white">
            <h2>second slide</h2>
            <div class="lead">
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </slide>
    <slide>
        <div class="text-center py-5 bg-dark text-white">
            <h2>third slide</h2>
            <div class="lead">
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </slide>
</carousel> -->

<carousel
    [interval]="interval"
    [pauseOnFocus]="pauseOnFocus"
    [itemsPerSlide]="'3'"
    [indicatorsByChunk]="true"
>
    <slide *ngFor="let slide of slides;let i=index">
        <img
            [src]="slide.image"
            style="display:block;width:100%"
        >
        <div class="carousel-caption">
            <h4>Slide {{i}}</h4>
        </div>
    </slide>
</carousel>