<h1>Alerts</h1>

<alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
</alert>

<hr/>

<alert 
    *ngIf="showError"
    [type]="defaultAlert.type"
    [dismissible]="'true'"
    [dismissOnTimeout]="defaultAlert.timeout"
    (onClose)="onClosed($event)"
>
    Error !!
</alert>

<h1>Button</h1>

<button type="button" class="btn btn-primary">
    Single button
</button>

<hr/>

<button 
    type="button" 
    class="btn btn-primary"
    [disabled]="disabled"
>
    Single button
</button>

<button 
    type="button" 
    class="btn btn-primary"
    (click)="disabled = !disabled"
>
  Enable/ disabled
</button>

<hr/>

<div *ngIf="singleModel">
    Hello i am visible.
</div>
<button
    type="button" 
    class="btn btn-primary"
    [(ngModel)]="singleModel"
    btnCheckbox
    [btnCheckboxTrue]="true"
    [btnCheckboxFalse]="false"
>
    {{ singleModel ? 'off':'on'}}
</button>

<hr/>

<div>{{ cookieModel }}</div>
<div class="btn-group" btnRadioGroup [(ngModel)]="cookieModel">

    <label
        class="btn btn-success"
        role="button"
        btnRadio="Chocolate"
        uncheckable
    >
        Chocolate
    </label>

    <label
        class="btn btn-success"
        role="button"
        btnRadio="Vanilla"
        uncheckable
    >
        Vanilla
    </label>

    <label
        class="btn btn-success"
        role="button"
        btnRadio="Milk"
        uncheckable
    >
        Milk
    </label>


</div>