<div style="width:400px">
  <div class="form-group">

    <input type="text" class="form-control mb-2" placeholder="Add your question here !!" #question>

    <button type="submit" class="btn btn-outline-info btn-block" (click)="onAddQuestion(question)">
      Add
    </button>

  </div>
</div>