<div class="row justify-content-md-center">
  <div class="col col-lg-6">

    <form (ngSubmit)="submitHandler()" #f="ngForm">
      <div class="form-profile" ngModelGroup="userProfile" #userProfile="ngModelGroup">

        <h4>Register form</h4>

        <!-- ***  NAME START ***-->
        <div class="form-group">
          <label>Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel required #name="ngModel">
          <p class="error-label" *ngIf="!name.valid && name.touched">
            This input is required
          </p>
        </div>

        <!-- ***  LASTNAME START ***-->
        <div class="form-group">
          <label>Email</label>
          <input type="text" id="email" name="email" class="form-control" ngModel required email #email="ngModel">

          <p class="error-label" *ngIf="!email.valid && email.touched">
            <span *ngIf="email?.errors.required">This input is required</span>
            <span *ngIf="email?.errors.email">This email is not valid</span>
          </p>

        </div>
      </div>

      <!-- <div class="everything-else" [hidden]="!userProfile.valid"> -->
      <!-- ***  AGE ***-->
      <div class="form-group">
        <label for="work">Tell us your age</label>
        <select class="form-control" id="age" name="age" ngModel>
          <option *ngFor="let option of ageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <!-- ***  SAY SOMETHING ***-->
      <div class="form-group">
        <label for="message">Send us a message</label>
        <textarea name="message" rows="3" class="form-control" [(ngModel)]="message"></textarea>
      </div>
      {{ message }}


      <!-- ***  NEWSLETTER ***-->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="newsletter" name="newsletter" ngModel>
        <label class="form-check-label" for="newsletter">
          Subscribe to our newsletter
        </label>
      </div>

      <hr />

      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      <!-- </div> -->
    </form>

  </div>
</div>